<div class="mat-typography layout">
  <mat-toolbar color="primary">
    <h1 class="layout__app-name">Acoustic Content Example UI</h1>
  </mat-toolbar>

  <div class="layout__content">

    <mat-card class="layout__content-main">
      <mat-card-content>
        <router-outlet></router-outlet>
      </mat-card-content>
    </mat-card>

    <mat-card class="layout__content-side">
      <mat-card-content>
        <h3>Similar articles</h3>
        <h3>Check also</h3>
      </mat-card-content>
    </mat-card>

  </div>
</div>

