<div *ngIf="articleState$ | async as articleState">
  <ng-container *ngIf="articleState.article as article; else error">
    <div *ngIf="article.author && article.lastModified"
         test-id="author"
         class="mat-small">{{ article.author }} at {{ article.lastModified | date }}</div>

    <img class="article__image"
         [src]="article.imageUrl" alt="Main image">

    <h2>{{ article.heading }}</h2>
    <div test-id="content"
         [innerHTML]="article.body.join('')"></div>
  </ng-container>

  <ng-template #error>
    <div class="article__error">
      <p>Cannot load article due to following reason.</p>
      <p>{{ articleState.errorMessage }}</p>
    </div>
  </ng-template>
</div>
